form {
    margin-top: 20px;
    text-align: center;
    color:rgb(228, 114, 15);
}
body {
    background-color: aqua;
}
.weather-container {
    background-color: palegoldenrod;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    border: dotted;
    border-color: rgb(53, 223, 30);
    width: 120px;
    height: 200px;
}
#history{
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
    border: solid;
    border-color: rgb(223, 139, 30);
    height: 500px;
    width: 300px;
}
.col-md-8 {
    margin-top: 20px;
    color: rgb(202, 23, 238);
}
.col-md-4 {
    margin-top: 20px;
}
span {
    color: red;
}
.city-name {
    color: rgba(255, 166, 0, 0.932);
    margin-top: 10px;
}